<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltbyz.practice_demo.wisdom_block.mapper.FamilyMapper">
    <select id="queryByFID" resultType="ltbyz.practice_demo.wisdom_block.pojo.Family">
        select * from family where FID = #{FID}
    </select>

    <insert id="add">
        insert into family values (#{FID},#{FName})
    </insert>

    <update id="noFam">
        update Household set FID = null where FID = #{FID}
    </update>
</mapper>