<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltbyz.practice_demo.wisdom_block.mapper.ParkLendMapper">
    <select id="queryOne" resultType="ltbyz.practice_demo.wisdom_block.pojo.Parklend">
        select * from parklend where ParkID = #{ParkID}
    </select>

    <select id="queryByCar" resultType="ltbyz.practice_demo.wisdom_block.pojo.Parklend">
        select CarID, ParkID, StartTime, EndTime from carpark where IDnum = #{IDnum}
    </select>

    <insert id="add">
        insert into parklend (ParkID, CarID, StartTime) values (#{ParkID},#{CarID},#{StartTime})
    </insert>

    <update id="update">
        update parklend set ParkID = #{ParkID}, StartTime = #{StartTime} where CarID = #{CarID}
    </update>

</mapper>