<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltbyz.practice_demo.wisdom_block.mapper.PerInviteMapper">
    <select id="queryByIPHnum" resultType="ltbyz.practice_demo.wisdom_block.pojo.PerInvite">
        select * from Perinvite where IPHnum = #{IPHnum}
    </select>

    <insert id="add" parameterType="ltbyz.practice_demo.wisdom_block.pojo.PerInvite">
        insert into Perinvite values (#{IPHnum}, #{DPHnum}, #{InTime}, #{FID})
    </insert>

    <delete id="delete" parameterType="ltbyz.practice_demo.wisdom_block.pojo.PerInvite">
        delete from Perinvite WHERE FID=#{FID} and IPHnum=#{phNum}
    </delete>

    <delete id="deleteAll" parameterType="ltbyz.practice_demo.wisdom_block.pojo.PerInvite">
        delete from Perinvite WHERE FID=#{FID}
    </delete>

</mapper>