<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltbyz.practice_demo.wisdom_block.mapper.ProblemMapper">
    <select id="queryAll" resultType="ltbyz.practice_demo.wisdom_block.pojo.Problem">
        select * from problem where IDnum = #{IDnum}
    </select>

    <select id="queryPro" resultType="ltbyz.practice_demo.wisdom_block.pojo.Problem">
        select * from problem where Pobject = '1'
    </select>

    <select id="queryCom" resultType="ltbyz.practice_demo.wisdom_block.pojo.Problem">
        select * from problem where Pobject = '2'
    </select>

    <select id="queryByID" resultType="ltbyz.practice_demo.wisdom_block.pojo.Problem">
        select * from problem where ProNum = #{ProNum}
    </select>

    <insert id="add" parameterType="ltbyz.practice_demo.wisdom_block.pojo.Problem">
        insert into problem values (#{ProNum}, #{Discription}, #{PType}, #{Resources}, #{Pstatus}, #{ReTime}, #{NewTime}, #{Pobject}, #{IDnum})
    </insert>

</mapper>