<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltbyz.practice_demo.wisdom_block.mapper.VoteRecordMapper">
    <select id="queryOne" resultType="ltbyz.practice_demo.wisdom_block.pojo.VoteRecord">
        select * from VoteRecord where IDnum = #{IDnum} and VoteID = #{VoteID}
    </select>

    <insert id="add" parameterType="ltbyz.practice_demo.wisdom_block.pojo.VoteRecord">
        insert into VoteRecord values (#{IDnum}, #{VoteID}, #{Result})    
    </insert>

</mapper>